#header h2{
	color: #264870;
	font-size: 400%;
	display: inline;
	
}

#header, #header-secondary {
	padding: 0px;
	padding-bottom: 15px;
	}
	
#header #credit{
	text-align: center;
	float: none;
}

#header #credit a{
	color: #f85204;
}

body {
  background: #213b57 url(../images/gplaypattern.png);
  }
  
#footer{
	font-size: 75%;
}  
  
#footer p{
	padding-top: 30px;
}  
  
#footer a{
	color: #f85204;
}

#footer ul{
	text-align: center;
}
